.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.userID {
  float: right;
  margin-top: -6vh;
  margin-right: 1vh;
  color: white;
}

.title {
  float: left;
  cursor:pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#chart {
  display: inline-block;
  vertical-align: center;
  padding-left: 10vw;
  position: relative;
}

.related {
  background-color: grey;
  width: 50vh;
  margin: auto;
  font-size: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.explain h1 {
  background-color: grey;
  font-size: 2rem;
  font-weight: bold;
  color: red;
  width: 50vh;
  margin: auto;
}

.explain h2 {
  background-color: grey;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  width: 50vh;
  margin: auto;
}

.login_total_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.username{
  border: 1px solid white;
  border-radius: 11px;
  /*border-bottom:1px solid white;*/
  margin-right:40px;
  font-size: 12px;
  padding: 3px 15px;
}

.login_container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  /* background-image: url("img/intro.png"); */
  background-color: #e6e6e6;
}

.header {
  margin: 0px;
  background-color: #0e151b;
  color: white;
}

.Login {
  margin: auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.Login {
  height: 30vh;
  width: 30vw;
  border-radius: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #0e151b;
  position: relative;
  margin-top: 35vh;
}

#button {
  background-color: #3e77e0;
  color: white;
  /*width: 100px;*/
  /*height: 50px;*/
  max-width:170px;
  border-radius: 10px;
  padding: 17px 24px;
  margin-left: 0.52vh;
  margin-left:5px;
  margin-top:6px;
  /*margin:auto;*/

}

body {
  height: 100vh;
}

#email{
  margin-bottom: 0.5vh;
  padding-left:3px;
  background:none;
  border-bottom: 1px solid white;
  color:white;
}
#password{
  padding-left:3px;
  border-bottom: 2px solid #D9D9D9;
  background:none;
  color:white;
}


#form {
  display: table;
}

.passr {
  display: table-row;
  margin:5px;
  border-radius:5px;
}

.passwr > input{
  padding-left:5px;
}

#new {
  margin-top: 1vh;
  height: auto;
  width: auto;
  color: grey;
  text-decoration: underline;
}

#del {
  margin-top: 1vh;
  height: auto;
  width: auto;
  color: grey;

  float: right;
  margin-right: 1vh;
  font-size: 2rem;
  margin-top: -0.5vh;
}

#new1 {
  margin-top: 1vh;
  visibility: collapse;
}

.popup {
  position: absolute;
  width: 50vh;
  height: 70vh;
  background-color: #fafafa;
  margin: auto;
}

#form1 {
  margin: auto;
  display:flex;
  flex-direction: column;
}

.passr2 {
  margin-left: 5vh;
  margin-bottom: 20px;
}

.input {
  margin: auto;
}

.sign {
  margin-top: 5vh;
  font-size: 2rem;
  margin-bottom: 7vh;
}

#root {
  margin: 0px;
}

.banner {
  background-color: #0e151b;
  color: white;
  text-align: center;
}

.list td {
  text-align: center;
}

.list {
  text-align: center;
}

.result {
  text-align: center;
  font-size: 2rem;
}
.con {
  height: 40vh;
  width: auto;
  overflow: auto;
}
.bigtabs {
  width: 98.5%;
}
