/* .common_header_logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0E151B;
    color: white;
    height: 70px;
    padding-left: 11px;
    padding-right: 11px;
}

.signin {
    border-radius: 0.5rem;
    border: 1px solid #FFFFFF;
    padding-left: 13px;
    padding-right: 13px;
}

.signup {
    border-radius: 0.5rem;
    border: 1px solid #FFFFFF;
    padding-left: 13px;
    padding-right: 13px;
}

.common_header_group3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 175px;
}

.common_header_space3 {
    width: 1225px;
}

.problemlist_container {
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
}

.problemlist_content {
    background-color: #E6E6E6;
    padding: 30px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: center;
}

.problemlist_inner {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.problemlist_left {
    width: 25%;
    text-align: right;
    padding-top: 20px;
}

.prolemlist_left_container {
    float: right;
    width: 70%;
}

.problemlist_title {
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

.problem_search {
    background-color: #EBEBEB;
    font-size: 20px;
    text-align: left;
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.sort_options {
    padding: 10px;
}

.problem_sorting_standard {
    font-size: 20px;
    text-align: left;
}

.hr {
    margin-top: 10px;
    margin-bottom: 10px;   
}

.sorting_activated {
    font-size: 20px;
    background-color: black;
    color: white;
    width: 30%;
    text-align: center;
    border-radius: 0.3rem;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sorting_inactivated {
    font-size: 17px;
    width: 30%;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.problemlist_right {
    width: 75%;
    padding-top: 100px;
    padding-right: 90px;
    padding-left: 30px;
    padding-bottom: 40px;
}

.problemlist_up {
    width: 100%;
}

.problemlist_element {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #D1D1D1;
    padding-top: 4px;
    padding-bottom: 4px;
}

.problem_name {
    text-align: left;
}

.problem_statistics {
    display: grid;
    grid-template-columns: 200px 150px;
    text-align: left;
}

.difficulty_veryeasy {
    color: #55B8F9;
}

.difficulty_easy {
    color: #E9AD53;
}

.difficulty_medium {
    color: #6EC45D;
}

.difficulty_hard {
    color: #ED7335;
}

.difficulty_veryhard {
    color: #B861DA;
}

.problemlist_down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.problemlist_selector {
    font-weight: bold;
} */